/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Global resets*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    max-width: 1440px;
    margin: auto;
}

header{
    width: 100%;
    /*background-image: linear-gradient(to right, #1abc9c, #16a085);*/
    padding: 2em 1em;
    text-align: center;
    background-size: cover;
}

#logo{
    font-weight: bold;
    color: #09C1EE;
    font-size: 2em;
    margin: 0.7em 0 0.5em 0;
}

.tagline{
    color: #09C1EE;
    max-width: 500px;
    background-color: rgba(33,33,33,0.5);
    border-radius: 1em;
    margin: 0 auto;
}

nav{
    background-color: rgba(33,33,33,0.8);
    padding: 0.5em 0;
    margin-top: 1em;

}

a {
    text-decoration: none;
}

nav a{
    margin: 0 1em;
    color: #ecf0f1;
}

nav a:hover{
    color: #09C1EE;
}

main{
    position: relative;
}


/*Styling for homepage/ showcase section*/

#showcase{
    background-image: url('../img/showcase-bg.png');
    background-size: cover;
    margin-top: 1em;
    height: 76vh;
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em
}

#showcase::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#333;
    z-index: -1;
    opacity: 0.8;
}

#showcase .text{
    color: #fff;
    max-width: 60%;
    height: 100%;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#showcase h1{
    color: #09C1EE;
    margin: 0.5em 0;
    font-size: 2.5em;
}

#showcase button{
    min-width: 100px;
    padding: 1em 3em;
    box-shadow: 2px 2px 2px #555;
    border-radius: 5px;
    margin-top: 2em;
    background-color: #09C1EE;
    color: #fff;
    transition: transform 100ms ease-in-out;
    border: none;
}

button:hover{
    transform: scale(0.98);
    cursor: pointer;
}

main section{
    margin-top: 3em;
}

main h1{
    text-align: center;
}


/*Styling for event details section*/

#event-details{
    padding: 1em;
    margin: 2em 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#event-details div{
    margin-left: 1em;
    padding: 1em;
}

#event-details h3{
    margin: 1em 0;
}


/*Styling for gallery section*/

#gallery{
    padding: 1em;
    margin: 2em 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#gallery .container{
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#gallery figure{
    width: 30%;
    height: auto;
    border-radius: 10px;
}

#gallery img{
    width: 90%;
    margin: 2em;
    border-radius: 10px;
    opacity: 0.7;
    transition: all .3s  ease-in-out;
}

#gallery img:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}


/*Styling for schedule section*/

#schedule{
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#schedule table{
    width: 90%;
    margin: 4em auto;
    border-collapse: collapse;
}

#schedule th, #schedule td{
    border: 1px solid #ddd;
    padding: 0.8em;
    text-align: left;
}

#schedule th{
    background-color: #09C1EE;
    color: #fff;
    font-size: 1.2em;

}


/*Styling for location section*/


#location{
    padding: 2em 3em;
    margin: 2em 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#location .address-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;

}

#location .address-container address{
    max-width: 400px;
    text-align: center;
    font-size: 18px;
}
#location .address-container iframe{
    border: 2px solid #09C1EE;
    border-radius: 5px;
    width: 800px;
    height: 500px;
}


/*Styling for footer section*/

footer{
    background-color: #09C1EE;
    color: #fff;
    padding: 2em;
    margin-top: 5em;
    text-align: center;
}

/* Styling for testimonial section */

#testimonials .testimonials-container{
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-around;
}

#testimonials img{
    border-radius: 50%;
    width: 45%;
    height: auto;
}
.test{
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-bottom: 3em;
}
.content-box{
    width: 100%;
}
.test-content{
    text-align: center;
    padding: 1em;
}
.test-content h3{
    margin-top: 1em;
}
.test-content p{
    margin-top: 1vh;
    text-align: center;

}